* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
header {
  margin: 50px;
  text-align: center;
}
.section1 {
  height: 250px;
  background-color: lightcoral;
}
.textHeader {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 10px;
}
.text {
  padding-left: 25px;
  padding-right: 25px;
}

.divider {
  height: 100px;
  background-color: gray;
}

.section2 {
  height: 100px;
  background-color: lightblue;
}
